[Desktop Entry]
Name=Muro
Comment=HTML5 Drawing Editor
Exec=html5app /usr/share/muro/html/deviantart_muro_sandbox.html
Icon=muro
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;
StartupNotify=true
